.card-img{
    height: 260px;
    width: 180px;
    margin-left: 6px;
    margin-top: 6px;
    border-radius: 10px;
    
  
   
}
.card-img:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
    

}
.filmlist{
    display: flex;
    
    overflow-x: scroll;
    overflow-y: hidden;
    /* margin-top: 10px; */
}
.filmlist::-webkit-scrollbar{
    display: none;
}
h3{
    position: relative;
    /* z-index:1000 ; */
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    margin-left:20px ;
}